@import url("https://fonts.googleapis.com/css?family=Chango");

:root {
  --timeline-arrow-color: rgb(0, 0, 0);
  --timeline-progress: 0%;
  --theme-color: rgb(104, 95, 238);
}

body,
html {
  background-size: 100vw;
  background-color: rgb(235, 235, 235);
  color: rgb(4, 4, 4);
  /*font-family: "Chango", sans-serif;*/
  font-family: Coolvetica_b, Helvetica, sans-serif;
  /*font-family: "Impact", sans-serif;*/
  font-size: 40px;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: clip;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.show,
.hidden {
  position: relative;
  min-height: 40vh;
  height: max-content;
}

h2 {
  position: relative;
  font-size: 40px;
  margin: 15px 0px 0px 0px;
}
h2::after {
  position: absolute;
  content: "";
  height: 10px;
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  width: 1rem;
  background: black;

  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.show h2::after {
  position: absolute;
  content: "";
  height: 5px;
  bottom: -5px;
  margin: 0 auto;
  left: 0;
  width: 75%;
  background: var(--theme-color);
  overflow: hidden;

  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s cubic-bezier(0.58, 0.02, 0.48, 0.08);
  transition-delay: 0.5s;
}

.start {
  /*border: 6px solid rgb(13, 13, 13);*/
  height: 100vh;
  /*background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 70%,
    rgba(0, 212, 255, 0) 100%
  );*/
  /*display: flex;
  justify-content: center;
  align-items: center; /* To align vertically, if needed */
  text-align: center;
}

.mugshot {
  border: 6px solid var(--theme-color);
  border-radius: 50%;
  margin-top: 50px;
}

h1 {
  margin: 10px 0px 0px 0px;
}

.location {
  margin: 10px 0px 0px 0px;
  font-size: 25px;
  font-weight: lighter;
}

.title {
  margin: 0px 0px 10px 0px;
}

ul {
  display: inline-block;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  /*height: 95px;*/
}

.navbar {
  position: absolute;
  right: 0;
  padding-top: 10px;
  padding-right: 40px;
}

.navbar > li {
  margin-left: 20px;
}

.navbar > li a {
  color: black;
  text-decoration: none;
  font-family: Coolvetica_b, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.navbar > li a::after {
  content: "";
  display: block;
  margin: auto;
  height: 10px;
  width: 0;
  top: 5px;
  background: black;
  transition: all 0.3s;
}

.navbar > li a:hover::after {
  width: 100%;
  height: 5px;
  background: var(--theme-color);
}

.hideIconRight,
.showIconRight {
  position: fixed;
  top: 50%;
  transform: translateY(-59%);
  right: 25px;
  z-index: 2;
}

.hideIconRight li {
  float: none;
  margin-bottom: 5px;
  transform: translateX(150px);
  transition: transform 0.6s;
}

.showIconRight li {
  float: none;
  margin-bottom: 5px;
  transform: translateX(0px);
  transition: transform 0.6s;
}

.hideIconRight li:nth-child(2),
.showIconRight li:nth-child(2) {
  transition-delay: 0.1s;
}

.hideIconRight li:nth-child(3),
.showIconRight li:nth-child(3) {
  transition-delay: 0.2s;
}

li {
  float: left;
  margin-right: 3px;
  margin-left: 3px;
}

svg {
  -webkit-filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.7));
  transform: translateY(0px);
  transition: all 0.2s ease-in-out;
}

svg:hover {
  -webkit-filter: drop-shadow(0px 15px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 15px 2px rgba(0, 0, 0, 0.7));
  transform: translateY(-10px);
}

svg rect {
  filter: invert(0);
  transition: filter 0.2s ease-in-out;
}

svg:hover rect {
  filter: invert(1);
  cursor: pointer;
}

svg:hover #linkedin {
  filter: invert(32%) sepia(100%) saturate(884%) hue-rotate(170deg)
    brightness(91%) contrast(103%);
}

svg:hover #github {
  filter: invert(1);
}

svg:hover #email {
  filter: invert(40%) sepia(36%) saturate(693%) hue-rotate(71deg)
    brightness(96%) contrast(94%);
  cursor: pointer;
}

.scrollDown::before {
  content: "\2193";
  position: absolute;
  bottom: 15%;
  left: 50%;
  color: var(--timeline-arrow-color);
  transform: translateX(-50%);
  transition: color 1s;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, 0px);
    opacity: 0.4;
  }
  50% {
    transform: translate(-50%, 10px);
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, 0px);
    opacity: 0.4;
  }
}

.aboutMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 20vh;
  background-color: white;
  /*justify-content: center;
  align-items: center;*/ /* To align vertically, if needed */
}

.aboutMeChild {
  flex: 1;
  /*text-align: center;*/
  align-self: flex-start;
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
  /*border: 6px solid rgb(13, 13, 13);*/
}

.aboutMeChild.hidden {
  opacity: 0;
  transform: translateX(-10%);
  transition: all 1s;
}

.aboutMeChild.show {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1s;
}

.aboutMeChild.show:last-child {
  transition-delay: 0.25s;
}

.aboutMeChild > h3 {
  margin: 20px 0px 0px 0px;

  font-size: 50px;
}

.aboutMeChild > h3::after {
  content: ".";
  position: absolute;
  color: var(--theme-color);
}
.aboutMeChild.hidden .skillsIcon {
  position: absolute;
  opacity: 0;
}
.aboutMeChild.show .skillsIcon {
  position: absolute;
  opacity: 0;
  animation: fadeInOut 1.5s linear forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(0) rotate(0deg);
  }
  80% {
    opacity: 0.7;
    transform: translateY(-25vh) rotate(-15deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-30vh) rotate(-20deg);
  }
}

@keyframes fadeInOutFlip {
  0% {
    opacity: 0;
    transform: translateY(0) rotate(0deg);
  }
  80% {
    opacity: 0.7;
    transform: translateY(-25vh) rotate(15deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-30vh) rotate(20deg);
  }
}

.aboutMeChild.show .skillsIcon:nth-child(1) {
  left: 35%;
  animation: fadeInOutFlip 1.7s 1s linear forwards;
}
.aboutMeChild.show .skillsIcon:nth-child(2) {
  left: 60%;
  animation-delay: 1.4s;
}
.aboutMeChild.show .skillsIcon:nth-child(3) {
  left: 40%;
  animation-delay: 1.8s;
}
.aboutMeChild.show .skillsIcon:nth-child(4) {
  left: 50%;
  animation-delay: 2.2s;
  animation-duration: 1.7;
}
.aboutMeChild.show .skillsIcon:nth-child(5) {
  left: 35%;
  animation-delay: 2.6s;
}
.aboutMeChild.show .skillsIcon:nth-child(6) {
  left: 50%;
  animation: fadeInOutFlip 1.3s 3s linear forwards;
}
.aboutMeChild.show .skillsIcon:nth-child(7) {
  left: 60%;
  animation-delay: 3.4s;
}
.aboutMeChild.show .skillsIcon:nth-child(8) {
  left: 35%;
  animation-delay: 3.8s;
  animation-duration: 1.7;
}
.aboutMeChild.show .skillsIcon:nth-child(9) {
  left: 60%;
  animation: fadeInOutFlip 1.3s 4.2s linear forwards;
}
.aboutMeChild.show .skillsIcon:nth-child(10) {
  left: 40%;
  animation-delay: 4.6s;
}
.aboutMeChild.show .skillsIcon:nth-child(11) {
  left: 50%;
  animation-delay: 5s;
  animation-duration: 1.3;
}
.aboutMeChild.show .skillsIcon:nth-child(12) {
  left: 40%;
  animation: fadeInOutFlip 1.7s 5.4s linear forwards;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  height: var(--timeline-progress);
  width: 10px;
  border-radius: 5px;
  background-color: black;
  /*background: linear-gradient(
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0.2) 100%
  );*/
  /*background-color: blue;
  box-shadow: 0 0 10px blue, 0 0 5px blue, 0 0 5px blue;*/
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  z-index: 0;
}

.hidden .ring::after {
  opacity: 1;
  transform: scale(0);
  transition: all 0.5s;
}

.show .ring::after {
  opacity: 1;
  animation: plopp 0.5s;
}

@keyframes plopp {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

/*Arrows*/
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  margin-top: 73px;
  width: 0;
  z-index: 1;
  left: 40%;
  margin-left: 5%;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  margin-top: 73px;
  width: 0;
  z-index: 1;
  margin-left: 50px;
  border: medium solid blue;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.ring::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -19px;
  margin-top: 65px;
  background-color: white;
  border: 4px solid var(--theme-color);
  border-radius: 50%;
  z-index: 1;
}

.content {
  /*display: inline-block; to make parent size of child*/
  position: relative;
  padding: 10px 20px;
  margin-left: 5%;
  top: 25px;
  background-color: white;
  position: relative;
  width: 40%;
  border-radius: 5px;
}

/*.content::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  border-radius: 0px;
  background-color: rgb(104, 95, 238);
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 0px;
  z-index: 0;
}*/

.hidden .content,
.hidden .right::before,
.hidden .left::before {
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.5s;
}

.show .content,
.show .right::before,
.show .left::before {
  opacity: 1;
  transition: all 0.5s;
  transition-delay: 0.5s;
}

.info {
  margin: 10px 0px 10px 0px;
  font-size: 30px;
  font-weight: bold;
}

.patch {
  position: absolute;
  right: -30px;
  top: -20px;
  background-color: var(--theme-color);
  color: white;
  font-weight: bold;
  border: 8px solid var(--theme-color);
  border-radius: 10px;
  transform: rotate(-23deg);
}

.hidden .patch {
  opacity: 0;
  transform: rotate(-10deg) scale(1.3);
  transition: all 0.5s;
  transition-delay: 0.5s;
}

.show .patch {
  opacity: 1;
  transform: rotate(15deg) scale(0.7);
  transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transition-delay: 1.25s;
}

.footer {
  height: 30vh;
  margin-top: 10vh;
  background-color: rgb(55, 54, 54);
}
