@import url("https://fonts.googleapis.com/css?family=Chango");
body,
html {
  background-image: url("images/background.jpg");
  background-size: 100vw;
  /*background-color: rgb(29, 29, 29);*/
  color: rgb(223, 220, 220);
  /*font-family: "Chango", sans-serif;*/
  font-family: "Impact", sans-serif;
  font-size: 60px;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: clip;
}

.hidden {
  opacity: 0;
  /*filter: blur(90px);*/
  height: 100vh;
  transform: translateX(25%);
  transition: all 0.8s;
}

.show {
  opacity: 1;
  /*filter: blur(0px);*/
  height: 100vh;
  transform: translateX(10%);
  transition: all 0.8s;
}

.hidden .bullet {
  opacity: 0;
  transform: scale(0);
}

.show .bullet {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-style: normal;
  opacity: 1;
  transform: scale(1);
}

.show .bullet:nth-child(1) {
  transition: all 1s;
}
.show .bullet:nth-child(2) {
  transition: all 1.3s;
}
.show .bullet:nth-child(3) {
  transition: all 1.6s;
}

.extra {
  display: none;
}

.show .bullet:hover .extra {
  display: inline-block;
}

.hidden .boxSection {
  transform: translate(0px, 0px);
}

.show .boxSection {
  background-color: rgb(114, 114, 115);
  border-radius: 30px;
  height: fit-content;
  min-width: 50%;
  width: min-content;
  border: 4px solid black;
  padding: 15px;
  margin: 20px;
  animation: accentuate 2.2s forwards;
}

@keyframes accentuate {
  0% {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px;
  }
  60% {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px rgb(181, 226, 33);
  }
  100% {
    transform: translate(20px, -20px);
    box-shadow: -20px 20px 10px rgb(40, 36, 92);
  }
}

.showflex {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  opacity: 1;
  /*filter: blur(0px);*/
  transform: translateX(10%);
  transition: all 0.8s;
}

.flexbreak {
  flex-basis: 100%;
  height: 0;
  margin-top: -100px;
}

.container {
  opacity: 0;
  transform: translateX(-50%);
}

.showflex .container {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-top: 25px;
  margin-right: 25px;
  opacity: 1;
  filter: blur(0px);
  transform: translateX(5%);
  transition: all 0.8s;
}

.compBadge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showflex .container:before {
  content: "";
  position: absolute;
  background: rgb(194, 194, 244);
  opacity: 0.7;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 150px rgba(148, 148, 148, 0.5);
  filter: blur(10px);
}

.showflex .container:nth-child(2) {
  transition-delay: 1s;
}
.showflex .container:nth-child(3) {
  transition-delay: 1.2s;
}
.showflex .container:nth-child(4) {
  transition-delay: 1.4s;
}
.showflex .container:nth-child(5) {
  transition-delay: 1.6s;
}
.showflex .container:nth-child(6) {
  transition-delay: 1.8s;
}
.showflex .container:nth-child(7) {
  transition-delay: 2s;
}
.showflex .container:nth-child(8) {
  transition-delay: 2.2s;
}
.showflex .container:nth-child(9) {
  transition-delay: 2.4s;
}
.showflex .container:nth-child(10) {
  transition-delay: 2.6s;
}
.showflex .container:nth-child(11) {
  transition-delay: 2.8s;
}
.showflex .container:nth-child(12) {
  transition-delay: 3s;
}
.showflex .container:nth-child(13) {
  transition-delay: 3.2s;
}
.showflex .container:nth-child(14) {
  transition-delay: 3.4s;
}
.showflex .container:nth-child(15) {
  transition-delay: 3.6s;
}
.showflex .container:nth-child(16) {
  transition-delay: 3.8s;
}

.start {
  margin-top: 50px;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.start p {
  margin-left: 50px;
}

.mugshot {
  border: 6px solid rgb(104, 95, 238);
  margin-left: 50px;
  border-radius: 50%;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  height: 20vh;
}

.hideIconRight,
.showIconRight {
  position: fixed;
  top: 50%;
  transform: translateY(-59%);
  right: 25px;
  z-index: 2;
}

.hideIconRight li {
  float: none;
  margin-bottom: 5px;
  transform: translateX(150px);
  transition: transform 1s;
}

.showIconRight li {
  float: none;
  margin-bottom: 5px;
  transform: translateX(0px);
  transition: transform 1s;
}

li {
  float: left;
  margin-right: 5px;
}

svg {
  -webkit-filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.7));
  transform: translateY(0px);
  transition: all 0.2s ease-in-out;
}

svg:hover {
  -webkit-filter: drop-shadow(0px 15px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 15px 2px rgba(0, 0, 0, 0.7));
  transform: translateY(-10px);
}

svg rect {
  filter: invert(0);
  transition: filter 0.2s ease-in-out;
}

svg:hover rect {
  filter: invert(1);
}

svg:hover #linkedin {
  filter: invert(32%) sepia(100%) saturate(884%) hue-rotate(170deg)
    brightness(91%) contrast(103%);
}

svg:hover #github {
  filter: invert(1);
}

svg:hover #email {
  filter: invert(40%) sepia(36%) saturate(693%) hue-rotate(71deg)
    brightness(96%) contrast(94%);
}
